<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>L</key>
		<string></string>
		<key>M</key>
		<string></string>
		<key>S</key>
		<string></string>
		<key>age</key>
		<string>-0.325804244</string>
	</dict>
	<dict>
		<key>L</key>
		<string></string>
		<key>M</key>
		<string></string>
		<key>S</key>
		<string></string>
		<key>age</key>
		<string>-0.306639288</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>35.42414</string>
		<key>S</key>
		<string>0.08132453</string>
		<key>age</key>
		<string>-0.287474333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>36.42492</string>
		<key>S</key>
		<string>0.07862004</string>
		<key>age</key>
		<string>-0.268309377</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>37.42772</string>
		<key>S</key>
		<string>0.07590725</string>
		<key>age</key>
		<string>-0.249144422</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>38.42789</string>
		<key>S</key>
		<string>0.07314432</string>
		<key>age</key>
		<string>-0.229979466</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>39.43673</string>
		<key>S</key>
		<string>0.07025966</string>
		<key>age</key>
		<string>-0.210814511</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>40.48008</string>
		<key>S</key>
		<string>0.06722238</string>
		<key>age</key>
		<string>-0.191649555</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>41.57838</string>
		<key>S</key>
		<string>0.06404407</string>
		<key>age</key>
		<string>-0.1724846</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>42.71663</string>
		<key>S</key>
		<string>0.06080197</string>
		<key>age</key>
		<string>-0.153319644</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>43.87082</string>
		<key>S</key>
		<string>0.05758883</string>
		<key>age</key>
		<string>-0.134154689</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>45.01804</string>
		<key>S</key>
		<string>0.05449291</string>
		<key>age</key>
		<string>-0.114989733</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>46.1415</string>
		<key>S</key>
		<string>0.05158876</string>
		<key>age</key>
		<string>-0.095824778</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>47.23352</string>
		<key>S</key>
		<string>0.04895293</string>
		<key>age</key>
		<string>-0.076659822</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>48.28677</string>
		<key>S</key>
		<string>0.0466417</string>
		<key>age</key>
		<string>-0.057494867</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>49.2766</string>
		<key>S</key>
		<string>0.04469878</string>
		<key>age</key>
		<string>-0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>50.16595</string>
		<key>S</key>
		<string>0.04315059</string>
		<key>age</key>
		<string>-0.019164956</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>50.94454</string>
		<key>S</key>
		<string>0.04197628</string>
		<key>age</key>
		<string>0</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>51.64579</string>
		<key>S</key>
		<string>0.04100319</string>
		<key>age</key>
		<string>0.019164956</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>52.30513</string>
		<key>S</key>
		<string>0.03994391</string>
		<key>age</key>
		<string>0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>52.3461</string>
		<key>S</key>
		<string>0.03652</string>
		<key>age</key>
		<string>0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>53.3905</string>
		<key>S</key>
		<string>0.03609</string>
		<key>age</key>
		<string>0.057494867</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>54.3881</string>
		<key>S</key>
		<string>0.0357</string>
		<key>age</key>
		<string>0.076659822</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>54.7244</string>
		<key>S</key>
		<string>0.03557</string>
		<key>age</key>
		<string>0.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>55.3374</string>
		<key>S</key>
		<string>0.03534</string>
		<key>age</key>
		<string>0.095824778</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>56.2357</string>
		<key>S</key>
		<string>0.03501</string>
		<key>age</key>
		<string>0.114989733</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>57.0851</string>
		<key>S</key>
		<string>0.0347</string>
		<key>age</key>
		<string>0.134154689</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>57.8889</string>
		<key>S</key>
		<string>0.03442</string>
		<key>age</key>
		<string>0.153319644</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>58.4249</string>
		<key>S</key>
		<string>0.03424</string>
		<key>age</key>
		<string>0.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>58.6536</string>
		<key>S</key>
		<string>0.03416</string>
		<key>age</key>
		<string>0.1724846</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>59.3872</string>
		<key>S</key>
		<string>0.03392</string>
		<key>age</key>
		<string>0.191649555</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>60.0894</string>
		<key>S</key>
		<string>0.03369</string>
		<key>age</key>
		<string>0.210814511</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>60.7605</string>
		<key>S</key>
		<string>0.03348</string>
		<key>age</key>
		<string>0.229979466</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>61.4013</string>
		<key>S</key>
		<string>0.03329</string>
		<key>age</key>
		<string>0.249144422</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>61.4292</string>
		<key>S</key>
		<string>0.03328</string>
		<key>age</key>
		<string>0.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>63.886</string>
		<key>S</key>
		<string>0.03257</string>
		<key>age</key>
		<string>0.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>65.9026</string>
		<key>S</key>
		<string>0.03204</string>
		<key>age</key>
		<string>0.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>67.6236</string>
		<key>S</key>
		<string>0.03165</string>
		<key>age</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>69.1645</string>
		<key>S</key>
		<string>0.03139</string>
		<key>age</key>
		<string>0.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>70.5994</string>
		<key>S</key>
		<string>0.03124</string>
		<key>age</key>
		<string>0.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>71.9687</string>
		<key>S</key>
		<string>0.03117</string>
		<key>age</key>
		<string>0.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>73.2812</string>
		<key>S</key>
		<string>0.03118</string>
		<key>age</key>
		<string>0.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>74.5388</string>
		<key>S</key>
		<string>0.03125</string>
		<key>age</key>
		<string>0.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>75.7488</string>
		<key>S</key>
		<string>0.03137</string>
		<key>age</key>
		<string>1</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>76.9186</string>
		<key>S</key>
		<string>0.03154</string>
		<key>age</key>
		<string>1.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>78.0497</string>
		<key>S</key>
		<string>0.03174</string>
		<key>age</key>
		<string>1.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>79.1458</string>
		<key>S</key>
		<string>0.03197</string>
		<key>age</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>80.2113</string>
		<key>S</key>
		<string>0.03222</string>
		<key>age</key>
		<string>1.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>81.2487</string>
		<key>S</key>
		<string>0.0325</string>
		<key>age</key>
		<string>1.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>82.2587</string>
		<key>S</key>
		<string>0.03279</string>
		<key>age</key>
		<string>1.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>83.2418</string>
		<key>S</key>
		<string>0.0331</string>
		<key>age</key>
		<string>1.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>84.1996</string>
		<key>S</key>
		<string>0.03342</string>
		<key>age</key>
		<string>1.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>85.1348</string>
		<key>S</key>
		<string>0.03376</string>
		<key>age</key>
		<string>1.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>86.0477</string>
		<key>S</key>
		<string>0.0341</string>
		<key>age</key>
		<string>1.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>86.941</string>
		<key>S</key>
		<string>0.03445</string>
		<key>age</key>
		<string>1.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>87.8161</string>
		<key>S</key>
		<string>0.03479</string>
		<key>age</key>
		<string>2</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>87.1161</string>
		<key>S</key>
		<string>0.03507</string>
		<key>age</key>
		<string>2</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>87.972</string>
		<key>S</key>
		<string>0.03542</string>
		<key>age</key>
		<string>2.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>88.8065</string>
		<key>S</key>
		<string>0.03576</string>
		<key>age</key>
		<string>2.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>89.6197</string>
		<key>S</key>
		<string>0.0361</string>
		<key>age</key>
		<string>2.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>90.412</string>
		<key>S</key>
		<string>0.03642</string>
		<key>age</key>
		<string>2.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>91.1828</string>
		<key>S</key>
		<string>0.03674</string>
		<key>age</key>
		<string>2.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>91.9327</string>
		<key>S</key>
		<string>0.03704</string>
		<key>age</key>
		<string>2.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>92.6631</string>
		<key>S</key>
		<string>0.03733</string>
		<key>age</key>
		<string>2.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>93.3753</string>
		<key>S</key>
		<string>0.03761</string>
		<key>age</key>
		<string>2.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>94.0711</string>
		<key>S</key>
		<string>0.03787</string>
		<key>age</key>
		<string>2.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>94.7532</string>
		<key>S</key>
		<string>0.03812</string>
		<key>age</key>
		<string>2.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>95.4236</string>
		<key>S</key>
		<string>0.03836</string>
		<key>age</key>
		<string>2.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>96.0835</string>
		<key>S</key>
		<string>0.03858</string>
		<key>age</key>
		<string>3</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>96.7337</string>
		<key>S</key>
		<string>0.03879</string>
		<key>age</key>
		<string>3.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>97.3749</string>
		<key>S</key>
		<string>0.039</string>
		<key>age</key>
		<string>3.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>98.0073</string>
		<key>S</key>
		<string>0.03919</string>
		<key>age</key>
		<string>3.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>98.631</string>
		<key>S</key>
		<string>0.03937</string>
		<key>age</key>
		<string>3.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>99.2459</string>
		<key>S</key>
		<string>0.03954</string>
		<key>age</key>
		<string>3.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>99.8515</string>
		<key>S</key>
		<string>0.03971</string>
		<key>age</key>
		<string>3.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>100.4485</string>
		<key>S</key>
		<string>0.03986</string>
		<key>age</key>
		<string>3.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>101.0374</string>
		<key>S</key>
		<string>0.04002</string>
		<key>age</key>
		<string>3.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>101.6186</string>
		<key>S</key>
		<string>0.04016</string>
		<key>age</key>
		<string>3.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.1933</string>
		<key>S</key>
		<string>0.04031</string>
		<key>age</key>
		<string>3.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.7625</string>
		<key>S</key>
		<string>0.04045</string>
		<key>age</key>
		<string>3.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>103.3273</string>
		<key>S</key>
		<string>0.04059</string>
		<key>age</key>
		<string>4</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.49</string>
		<key>S</key>
		<string>0.04008</string>
		<key>age</key>
		<string>4</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>103.06</string>
		<key>S</key>
		<string>0.04021</string>
		<key>age</key>
		<string>4.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>103.64</string>
		<key>S</key>
		<string>0.04033</string>
		<key>age</key>
		<string>4.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>104.22</string>
		<key>S</key>
		<string>0.04045</string>
		<key>age</key>
		<string>4.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>104.8</string>
		<key>S</key>
		<string>0.04057</string>
		<key>age</key>
		<string>4.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>105.4</string>
		<key>S</key>
		<string>0.04068</string>
		<key>age</key>
		<string>4.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>106</string>
		<key>S</key>
		<string>0.04078</string>
		<key>age</key>
		<string>4.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>106.6</string>
		<key>S</key>
		<string>0.04089</string>
		<key>age</key>
		<string>4.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>107.21</string>
		<key>S</key>
		<string>0.04098</string>
		<key>age</key>
		<string>4.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>107.81</string>
		<key>S</key>
		<string>0.04107</string>
		<key>age</key>
		<string>4.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>108.41</string>
		<key>S</key>
		<string>0.04115</string>
		<key>age</key>
		<string>4.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>109.01</string>
		<key>S</key>
		<string>0.04123</string>
		<key>age</key>
		<string>4.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>109.59</string>
		<key>S</key>
		<string>0.04131</string>
		<key>age</key>
		<string>5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>110.16</string>
		<key>S</key>
		<string>0.04137</string>
		<key>age</key>
		<string>5.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>110.73</string>
		<key>S</key>
		<string>0.04144</string>
		<key>age</key>
		<string>5.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>111.28</string>
		<key>S</key>
		<string>0.04149</string>
		<key>age</key>
		<string>5.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>111.81</string>
		<key>S</key>
		<string>0.04155</string>
		<key>age</key>
		<string>5.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>112.35</string>
		<key>S</key>
		<string>0.0416</string>
		<key>age</key>
		<string>5.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>112.87</string>
		<key>S</key>
		<string>0.04165</string>
		<key>age</key>
		<string>5.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>113.38</string>
		<key>S</key>
		<string>0.0417</string>
		<key>age</key>
		<string>5.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>113.9</string>
		<key>S</key>
		<string>0.04174</string>
		<key>age</key>
		<string>5.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>114.41</string>
		<key>S</key>
		<string>0.04178</string>
		<key>age</key>
		<string>5.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>114.92</string>
		<key>S</key>
		<string>0.04182</string>
		<key>age</key>
		<string>5.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>115.43</string>
		<key>S</key>
		<string>0.04186</string>
		<key>age</key>
		<string>5.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>115.93</string>
		<key>S</key>
		<string>0.0419</string>
		<key>age</key>
		<string>6</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>116.44</string>
		<key>S</key>
		<string>0.04193</string>
		<key>age</key>
		<string>6.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>116.94</string>
		<key>S</key>
		<string>0.04197</string>
		<key>age</key>
		<string>6.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>117.44</string>
		<key>S</key>
		<string>0.042</string>
		<key>age</key>
		<string>6.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>117.94</string>
		<key>S</key>
		<string>0.04203</string>
		<key>age</key>
		<string>6.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>118.43</string>
		<key>S</key>
		<string>0.04206</string>
		<key>age</key>
		<string>6.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>118.93</string>
		<key>S</key>
		<string>0.04209</string>
		<key>age</key>
		<string>6.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>119.42</string>
		<key>S</key>
		<string>0.04212</string>
		<key>age</key>
		<string>6.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>119.91</string>
		<key>S</key>
		<string>0.04216</string>
		<key>age</key>
		<string>6.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>120.41</string>
		<key>S</key>
		<string>0.04219</string>
		<key>age</key>
		<string>6.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>120.9</string>
		<key>S</key>
		<string>0.04223</string>
		<key>age</key>
		<string>6.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>121.4</string>
		<key>S</key>
		<string>0.04227</string>
		<key>age</key>
		<string>6.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>121.9</string>
		<key>S</key>
		<string>0.04231</string>
		<key>age</key>
		<string>7</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>122.4</string>
		<key>S</key>
		<string>0.04236</string>
		<key>age</key>
		<string>7.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>122.9</string>
		<key>S</key>
		<string>0.0424</string>
		<key>age</key>
		<string>7.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>123.4</string>
		<key>S</key>
		<string>0.04245</string>
		<key>age</key>
		<string>7.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>123.9</string>
		<key>S</key>
		<string>0.04249</string>
		<key>age</key>
		<string>7.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>124.4</string>
		<key>S</key>
		<string>0.04254</string>
		<key>age</key>
		<string>7.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>124.9</string>
		<key>S</key>
		<string>0.04259</string>
		<key>age</key>
		<string>7.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>125.4</string>
		<key>S</key>
		<string>0.04263</string>
		<key>age</key>
		<string>7.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>125.89</string>
		<key>S</key>
		<string>0.04267</string>
		<key>age</key>
		<string>7.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>126.39</string>
		<key>S</key>
		<string>0.04272</string>
		<key>age</key>
		<string>7.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>126.87</string>
		<key>S</key>
		<string>0.04276</string>
		<key>age</key>
		<string>7.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>127.36</string>
		<key>S</key>
		<string>0.0428</string>
		<key>age</key>
		<string>7.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>127.85</string>
		<key>S</key>
		<string>0.04284</string>
		<key>age</key>
		<string>8</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>128.33</string>
		<key>S</key>
		<string>0.04289</string>
		<key>age</key>
		<string>8.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>128.8</string>
		<key>S</key>
		<string>0.04293</string>
		<key>age</key>
		<string>8.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>129.27</string>
		<key>S</key>
		<string>0.04297</string>
		<key>age</key>
		<string>8.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>129.74</string>
		<key>S</key>
		<string>0.04302</string>
		<key>age</key>
		<string>8.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>130.19</string>
		<key>S</key>
		<string>0.04307</string>
		<key>age</key>
		<string>8.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>130.64</string>
		<key>S</key>
		<string>0.04312</string>
		<key>age</key>
		<string>8.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.09</string>
		<key>S</key>
		<string>0.04318</string>
		<key>age</key>
		<string>8.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.54</string>
		<key>S</key>
		<string>0.04324</string>
		<key>age</key>
		<string>8.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.97</string>
		<key>S</key>
		<string>0.0433</string>
		<key>age</key>
		<string>8.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>132.41</string>
		<key>S</key>
		<string>0.04337</string>
		<key>age</key>
		<string>8.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>132.84</string>
		<key>S</key>
		<string>0.04344</string>
		<key>age</key>
		<string>8.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>133.28</string>
		<key>S</key>
		<string>0.04351</string>
		<key>age</key>
		<string>9</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>133.71</string>
		<key>S</key>
		<string>0.04359</string>
		<key>age</key>
		<string>9.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>134.14</string>
		<key>S</key>
		<string>0.04367</string>
		<key>age</key>
		<string>9.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>134.57</string>
		<key>S</key>
		<string>0.04376</string>
		<key>age</key>
		<string>9.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>134.99</string>
		<key>S</key>
		<string>0.04384</string>
		<key>age</key>
		<string>9.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>135.42</string>
		<key>S</key>
		<string>0.04394</string>
		<key>age</key>
		<string>9.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>135.84</string>
		<key>S</key>
		<string>0.04403</string>
		<key>age</key>
		<string>9.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>136.26</string>
		<key>S</key>
		<string>0.04413</string>
		<key>age</key>
		<string>9.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>136.68</string>
		<key>S</key>
		<string>0.04423</string>
		<key>age</key>
		<string>9.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137.1</string>
		<key>S</key>
		<string>0.04433</string>
		<key>age</key>
		<string>9.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137.53</string>
		<key>S</key>
		<string>0.04444</string>
		<key>age</key>
		<string>9.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137.96</string>
		<key>S</key>
		<string>0.04456</string>
		<key>age</key>
		<string>9.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>138.39</string>
		<key>S</key>
		<string>0.04468</string>
		<key>age</key>
		<string>10</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>138.82</string>
		<key>S</key>
		<string>0.0448</string>
		<key>age</key>
		<string>10.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>139.26</string>
		<key>S</key>
		<string>0.04493</string>
		<key>age</key>
		<string>10.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>139.69</string>
		<key>S</key>
		<string>0.04506</string>
		<key>age</key>
		<string>10.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>140.12</string>
		<key>S</key>
		<string>0.0452</string>
		<key>age</key>
		<string>10.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>140.54</string>
		<key>S</key>
		<string>0.04534</string>
		<key>age</key>
		<string>10.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>140.96</string>
		<key>S</key>
		<string>0.04548</string>
		<key>age</key>
		<string>10.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>141.37</string>
		<key>S</key>
		<string>0.04562</string>
		<key>age</key>
		<string>10.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>141.78</string>
		<key>S</key>
		<string>0.04577</string>
		<key>age</key>
		<string>10.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>142.18</string>
		<key>S</key>
		<string>0.04592</string>
		<key>age</key>
		<string>10.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>142.58</string>
		<key>S</key>
		<string>0.04607</string>
		<key>age</key>
		<string>10.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>142.98</string>
		<key>S</key>
		<string>0.04623</string>
		<key>age</key>
		<string>10.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>143.37</string>
		<key>S</key>
		<string>0.04638</string>
		<key>age</key>
		<string>11</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>143.77</string>
		<key>S</key>
		<string>0.04654</string>
		<key>age</key>
		<string>11.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>144.16</string>
		<key>S</key>
		<string>0.0467</string>
		<key>age</key>
		<string>11.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>144.55</string>
		<key>S</key>
		<string>0.04687</string>
		<key>age</key>
		<string>11.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>144.95</string>
		<key>S</key>
		<string>0.04704</string>
		<key>age</key>
		<string>11.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>145.34</string>
		<key>S</key>
		<string>0.04721</string>
		<key>age</key>
		<string>11.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>145.75</string>
		<key>S</key>
		<string>0.04738</string>
		<key>age</key>
		<string>11.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>146.16</string>
		<key>S</key>
		<string>0.04755</string>
		<key>age</key>
		<string>11.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>146.58</string>
		<key>S</key>
		<string>0.04774</string>
		<key>age</key>
		<string>11.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>147.02</string>
		<key>S</key>
		<string>0.04792</string>
		<key>age</key>
		<string>11.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>147.46</string>
		<key>S</key>
		<string>0.0481</string>
		<key>age</key>
		<string>11.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>147.91</string>
		<key>S</key>
		<string>0.04829</string>
		<key>age</key>
		<string>11.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>148.36</string>
		<key>S</key>
		<string>0.04848</string>
		<key>age</key>
		<string>12</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>148.83</string>
		<key>S</key>
		<string>0.04868</string>
		<key>age</key>
		<string>12.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>149.31</string>
		<key>S</key>
		<string>0.04887</string>
		<key>age</key>
		<string>12.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>149.81</string>
		<key>S</key>
		<string>0.04906</string>
		<key>age</key>
		<string>12.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>150.31</string>
		<key>S</key>
		<string>0.04926</string>
		<key>age</key>
		<string>12.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>150.83</string>
		<key>S</key>
		<string>0.04945</string>
		<key>age</key>
		<string>12.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>151.35</string>
		<key>S</key>
		<string>0.04964</string>
		<key>age</key>
		<string>12.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>151.89</string>
		<key>S</key>
		<string>0.04983</string>
		<key>age</key>
		<string>12.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>152.44</string>
		<key>S</key>
		<string>0.05001</string>
		<key>age</key>
		<string>12.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>153</string>
		<key>S</key>
		<string>0.05019</string>
		<key>age</key>
		<string>12.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>153.58</string>
		<key>S</key>
		<string>0.05037</string>
		<key>age</key>
		<string>12.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>154.17</string>
		<key>S</key>
		<string>0.05053</string>
		<key>age</key>
		<string>12.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>154.77</string>
		<key>S</key>
		<string>0.05068</string>
		<key>age</key>
		<string>13</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>155.38</string>
		<key>S</key>
		<string>0.05083</string>
		<key>age</key>
		<string>13.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>156</string>
		<key>S</key>
		<string>0.05095</string>
		<key>age</key>
		<string>13.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>156.63</string>
		<key>S</key>
		<string>0.05107</string>
		<key>age</key>
		<string>13.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>157.27</string>
		<key>S</key>
		<string>0.05116</string>
		<key>age</key>
		<string>13.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>157.91</string>
		<key>S</key>
		<string>0.05123</string>
		<key>age</key>
		<string>13.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>158.55</string>
		<key>S</key>
		<string>0.05129</string>
		<key>age</key>
		<string>13.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.2</string>
		<key>S</key>
		<string>0.05132</string>
		<key>age</key>
		<string>13.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.84</string>
		<key>S</key>
		<string>0.05133</string>
		<key>age</key>
		<string>13.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>160.47</string>
		<key>S</key>
		<string>0.05131</string>
		<key>age</key>
		<string>13.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.11</string>
		<key>S</key>
		<string>0.05126</string>
		<key>age</key>
		<string>13.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.74</string>
		<key>S</key>
		<string>0.0512</string>
		<key>age</key>
		<string>13.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.36</string>
		<key>S</key>
		<string>0.0511</string>
		<key>age</key>
		<string>14</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.97</string>
		<key>S</key>
		<string>0.05098</string>
		<key>age</key>
		<string>14.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.58</string>
		<key>S</key>
		<string>0.05083</string>
		<key>age</key>
		<string>14.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>164.17</string>
		<key>S</key>
		<string>0.05065</string>
		<key>age</key>
		<string>14.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>164.75</string>
		<key>S</key>
		<string>0.05045</string>
		<key>age</key>
		<string>14.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>165.33</string>
		<key>S</key>
		<string>0.05023</string>
		<key>age</key>
		<string>14.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>165.88</string>
		<key>S</key>
		<string>0.04998</string>
		<key>age</key>
		<string>14.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>166.43</string>
		<key>S</key>
		<string>0.04971</string>
		<key>age</key>
		<string>14.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>166.96</string>
		<key>S</key>
		<string>0.04942</string>
		<key>age</key>
		<string>14.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>167.48</string>
		<key>S</key>
		<string>0.04912</string>
		<key>age</key>
		<string>14.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>167.98</string>
		<key>S</key>
		<string>0.04879</string>
		<key>age</key>
		<string>14.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>168.47</string>
		<key>S</key>
		<string>0.04846</string>
		<key>age</key>
		<string>14.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>168.94</string>
		<key>S</key>
		<string>0.04811</string>
		<key>age</key>
		<string>15</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>169.4</string>
		<key>S</key>
		<string>0.04776</string>
		<key>age</key>
		<string>15.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>169.84</string>
		<key>S</key>
		<string>0.0474</string>
		<key>age</key>
		<string>15.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>170.26</string>
		<key>S</key>
		<string>0.04703</string>
		<key>age</key>
		<string>15.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>170.67</string>
		<key>S</key>
		<string>0.04666</string>
		<key>age</key>
		<string>15.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>171.06</string>
		<key>S</key>
		<string>0.0463</string>
		<key>age</key>
		<string>15.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>171.43</string>
		<key>S</key>
		<string>0.04594</string>
		<key>age</key>
		<string>15.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>171.79</string>
		<key>S</key>
		<string>0.04558</string>
		<key>age</key>
		<string>15.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>172.14</string>
		<key>S</key>
		<string>0.04522</string>
		<key>age</key>
		<string>15.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>172.48</string>
		<key>S</key>
		<string>0.04488</string>
		<key>age</key>
		<string>15.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>172.79</string>
		<key>S</key>
		<string>0.04454</string>
		<key>age</key>
		<string>15.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>173.1</string>
		<key>S</key>
		<string>0.04421</string>
		<key>age</key>
		<string>15.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>173.39</string>
		<key>S</key>
		<string>0.04389</string>
		<key>age</key>
		<string>16</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>173.66</string>
		<key>S</key>
		<string>0.04358</string>
		<key>age</key>
		<string>16.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>173.93</string>
		<key>S</key>
		<string>0.04328</string>
		<key>age</key>
		<string>16.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>174.18</string>
		<key>S</key>
		<string>0.043</string>
		<key>age</key>
		<string>16.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>174.42</string>
		<key>S</key>
		<string>0.04273</string>
		<key>age</key>
		<string>16.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>174.64</string>
		<key>S</key>
		<string>0.04246</string>
		<key>age</key>
		<string>16.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>174.86</string>
		<key>S</key>
		<string>0.04222</string>
		<key>age</key>
		<string>16.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.06</string>
		<key>S</key>
		<string>0.04198</string>
		<key>age</key>
		<string>16.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.25</string>
		<key>S</key>
		<string>0.04175</string>
		<key>age</key>
		<string>16.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.43</string>
		<key>S</key>
		<string>0.04154</string>
		<key>age</key>
		<string>16.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.61</string>
		<key>S</key>
		<string>0.04134</string>
		<key>age</key>
		<string>16.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.77</string>
		<key>S</key>
		<string>0.04114</string>
		<key>age</key>
		<string>16.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>175.92</string>
		<key>S</key>
		<string>0.04096</string>
		<key>age</key>
		<string>17</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.07</string>
		<key>S</key>
		<string>0.04079</string>
		<key>age</key>
		<string>17.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.21</string>
		<key>S</key>
		<string>0.04063</string>
		<key>age</key>
		<string>17.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.33</string>
		<key>S</key>
		<string>0.04047</string>
		<key>age</key>
		<string>17.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.45</string>
		<key>S</key>
		<string>0.04033</string>
		<key>age</key>
		<string>17.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.57</string>
		<key>S</key>
		<string>0.0402</string>
		<key>age</key>
		<string>17.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.67</string>
		<key>S</key>
		<string>0.04008</string>
		<key>age</key>
		<string>17.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.76</string>
		<key>S</key>
		<string>0.03997</string>
		<key>age</key>
		<string>17.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.85</string>
		<key>S</key>
		<string>0.03987</string>
		<key>age</key>
		<string>17.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.92</string>
		<key>S</key>
		<string>0.03979</string>
		<key>age</key>
		<string>17.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>176.99</string>
		<key>S</key>
		<string>0.03971</string>
		<key>age</key>
		<string>17.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.04</string>
		<key>S</key>
		<string>0.03964</string>
		<key>age</key>
		<string>17.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.09</string>
		<key>S</key>
		<string>0.03958</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.13</string>
		<key>S</key>
		<string>0.03953</string>
		<key>age</key>
		<string>18.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.17</string>
		<key>S</key>
		<string>0.03948</string>
		<key>age</key>
		<string>18.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.2</string>
		<key>S</key>
		<string>0.03945</string>
		<key>age</key>
		<string>18.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.23</string>
		<key>S</key>
		<string>0.03942</string>
		<key>age</key>
		<string>18.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.25</string>
		<key>S</key>
		<string>0.0394</string>
		<key>age</key>
		<string>18.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.26</string>
		<key>S</key>
		<string>0.03938</string>
		<key>age</key>
		<string>18.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.27</string>
		<key>S</key>
		<string>0.03937</string>
		<key>age</key>
		<string>18.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.27</string>
		<key>S</key>
		<string>0.03936</string>
		<key>age</key>
		<string>18.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.28</string>
		<key>S</key>
		<string>0.03936</string>
		<key>age</key>
		<string>18.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.28</string>
		<key>S</key>
		<string>0.03936</string>
		<key>age</key>
		<string>18.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.28</string>
		<key>S</key>
		<string>0.03936</string>
		<key>age</key>
		<string>18.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.28</string>
		<key>S</key>
		<string>0.03935</string>
		<key>age</key>
		<string>19</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.29</string>
		<key>S</key>
		<string>0.03935</string>
		<key>age</key>
		<string>19.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.29</string>
		<key>S</key>
		<string>0.03934</string>
		<key>age</key>
		<string>19.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.29</string>
		<key>S</key>
		<string>0.03934</string>
		<key>age</key>
		<string>19.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.3</string>
		<key>S</key>
		<string>0.03934</string>
		<key>age</key>
		<string>19.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.3</string>
		<key>S</key>
		<string>0.03934</string>
		<key>age</key>
		<string>19.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.3</string>
		<key>S</key>
		<string>0.03934</string>
		<key>age</key>
		<string>19.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.3</string>
		<key>S</key>
		<string>0.03933</string>
		<key>age</key>
		<string>19.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.3</string>
		<key>S</key>
		<string>0.03933</string>
		<key>age</key>
		<string>19.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.31</string>
		<key>S</key>
		<string>0.03932</string>
		<key>age</key>
		<string>19.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.32</string>
		<key>S</key>
		<string>0.03931</string>
		<key>age</key>
		<string>19.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.33</string>
		<key>S</key>
		<string>0.0393</string>
		<key>age</key>
		<string>19.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>177.34</string>
		<key>S</key>
		<string>0.03929</string>
		<key>age</key>
		<string>20</string>
	</dict>
</array>
</plist>
