<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>L</key>
		<string></string>
		<key>M</key>
		<string></string>
		<key>S</key>
		<string></string>
		<key>age</key>
		<string>-0.325804244</string>
	</dict>
	<dict>
		<key>L</key>
		<string></string>
		<key>M</key>
		<string></string>
		<key>S</key>
		<string></string>
		<key>age</key>
		<string>-0.306639288</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>34.59544</string>
		<key>S</key>
		<string>0.08086044</string>
		<key>age</key>
		<string>-0.287474333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>35.59771</string>
		<key>S</key>
		<string>0.07735533</string>
		<key>age</key>
		<string>-0.268309377</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>36.60905</string>
		<key>S</key>
		<string>0.07386597</string>
		<key>age</key>
		<string>-0.249144422</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>37.65832</string>
		<key>S</key>
		<string>0.07042367</string>
		<key>age</key>
		<string>-0.229979466</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>38.76987</string>
		<key>S</key>
		<string>0.06701891</string>
		<key>age</key>
		<string>-0.210814511</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>39.94117</string>
		<key>S</key>
		<string>0.06362674</string>
		<key>age</key>
		<string>-0.191649555</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>41.14154</string>
		<key>S</key>
		<string>0.06025431</string>
		<key>age</key>
		<string>-0.1724846</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>42.34725</string>
		<key>S</key>
		<string>0.0569387</string>
		<key>age</key>
		<string>-0.153319644</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>43.538</string>
		<key>S</key>
		<string>0.05372271</string>
		<key>age</key>
		<string>-0.134154689</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>44.69314</string>
		<key>S</key>
		<string>0.05064634</string>
		<key>age</key>
		<string>-0.114989733</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>45.79079</string>
		<key>S</key>
		<string>0.04773628</string>
		<key>age</key>
		<string>-0.095824778</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>46.81071</string>
		<key>S</key>
		<string>0.04500635</string>
		<key>age</key>
		<string>-0.076659822</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>47.73972</string>
		<key>S</key>
		<string>0.04248754</string>
		<key>age</key>
		<string>-0.057494867</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>48.57771</string>
		<key>S</key>
		<string>0.04026448</string>
		<key>age</key>
		<string>-0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>49.33962</string>
		<key>S</key>
		<string>0.03839778</string>
		<key>age</key>
		<string>-0.019164956</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>50.01719</string>
		<key>S</key>
		<string>0.0369674</string>
		<key>age</key>
		<string>0</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>50.62523</string>
		<key>S</key>
		<string>0.03608866</string>
		<key>age</key>
		<string>0.019164956</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>51.20649</string>
		<key>S</key>
		<string>0.03570984</string>
		<key>age</key>
		<string>0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>51.512</string>
		<key>S</key>
		<string>0.03694</string>
		<key>age</key>
		<string>0.038329911</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>52.4695</string>
		<key>S</key>
		<string>0.03669</string>
		<key>age</key>
		<string>0.057494867</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>53.3809</string>
		<key>S</key>
		<string>0.03647</string>
		<key>age</key>
		<string>0.076659822</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>53.6872</string>
		<key>S</key>
		<string>0.0364</string>
		<key>age</key>
		<string>0.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>54.2454</string>
		<key>S</key>
		<string>0.03627</string>
		<key>age</key>
		<string>0.095824778</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>55.0642</string>
		<key>S</key>
		<string>0.03609</string>
		<key>age</key>
		<string>0.114989733</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>55.8406</string>
		<key>S</key>
		<string>0.03593</string>
		<key>age</key>
		<string>0.134154689</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>56.5767</string>
		<key>S</key>
		<string>0.03578</string>
		<key>age</key>
		<string>0.153319644</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>57.0673</string>
		<key>S</key>
		<string>0.03568</string>
		<key>age</key>
		<string>0.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>57.2761</string>
		<key>S</key>
		<string>0.03564</string>
		<key>age</key>
		<string>0.1724846</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>57.9436</string>
		<key>S</key>
		<string>0.03552</string>
		<key>age</key>
		<string>0.191649555</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>58.5816</string>
		<key>S</key>
		<string>0.0354</string>
		<key>age</key>
		<string>0.210814511</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>59.1922</string>
		<key>S</key>
		<string>0.0353</string>
		<key>age</key>
		<string>0.229979466</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>59.7773</string>
		<key>S</key>
		<string>0.0352</string>
		<key>age</key>
		<string>0.249144422</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>59.8029</string>
		<key>S</key>
		<string>0.0352</string>
		<key>age</key>
		<string>0.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>62.0899</string>
		<key>S</key>
		<string>0.03486</string>
		<key>age</key>
		<string>0.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>64.0301</string>
		<key>S</key>
		<string>0.03463</string>
		<key>age</key>
		<string>0.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>65.7311</string>
		<key>S</key>
		<string>0.03448</string>
		<key>age</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>67.2873</string>
		<key>S</key>
		<string>0.03441</string>
		<key>age</key>
		<string>0.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>68.7498</string>
		<key>S</key>
		<string>0.0344</string>
		<key>age</key>
		<string>0.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>70.1435</string>
		<key>S</key>
		<string>0.03444</string>
		<key>age</key>
		<string>0.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>71.4818</string>
		<key>S</key>
		<string>0.03452</string>
		<key>age</key>
		<string>0.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>72.771</string>
		<key>S</key>
		<string>0.03464</string>
		<key>age</key>
		<string>0.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>74.015</string>
		<key>S</key>
		<string>0.03479</string>
		<key>age</key>
		<string>1</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>75.2176</string>
		<key>S</key>
		<string>0.03496</string>
		<key>age</key>
		<string>1.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>76.3817</string>
		<key>S</key>
		<string>0.03514</string>
		<key>age</key>
		<string>1.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>77.5099</string>
		<key>S</key>
		<string>0.03534</string>
		<key>age</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>78.6055</string>
		<key>S</key>
		<string>0.03555</string>
		<key>age</key>
		<string>1.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>79.671</string>
		<key>S</key>
		<string>0.03576</string>
		<key>age</key>
		<string>1.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>80.7079</string>
		<key>S</key>
		<string>0.03598</string>
		<key>age</key>
		<string>1.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>81.7182</string>
		<key>S</key>
		<string>0.0362</string>
		<key>age</key>
		<string>1.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>82.7036</string>
		<key>S</key>
		<string>0.03643</string>
		<key>age</key>
		<string>1.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>83.6654</string>
		<key>S</key>
		<string>0.03666</string>
		<key>age</key>
		<string>1.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>84.604</string>
		<key>S</key>
		<string>0.03688</string>
		<key>age</key>
		<string>1.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>85.5202</string>
		<key>S</key>
		<string>0.03711</string>
		<key>age</key>
		<string>1.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>86.4153</string>
		<key>S</key>
		<string>0.03734</string>
		<key>age</key>
		<string>2</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>85.7153</string>
		<key>S</key>
		<string>0.03764</string>
		<key>age</key>
		<string>2</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>86.5904</string>
		<key>S</key>
		<string>0.03786</string>
		<key>age</key>
		<string>2.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>87.4462</string>
		<key>S</key>
		<string>0.03808</string>
		<key>age</key>
		<string>2.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>88.283</string>
		<key>S</key>
		<string>0.0383</string>
		<key>age</key>
		<string>2.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>89.1004</string>
		<key>S</key>
		<string>0.03851</string>
		<key>age</key>
		<string>2.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>89.8991</string>
		<key>S</key>
		<string>0.03872</string>
		<key>age</key>
		<string>2.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>90.6797</string>
		<key>S</key>
		<string>0.03893</string>
		<key>age</key>
		<string>2.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>91.443</string>
		<key>S</key>
		<string>0.03913</string>
		<key>age</key>
		<string>2.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>92.1906</string>
		<key>S</key>
		<string>0.03933</string>
		<key>age</key>
		<string>2.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>92.9239</string>
		<key>S</key>
		<string>0.03952</string>
		<key>age</key>
		<string>2.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>93.6444</string>
		<key>S</key>
		<string>0.03971</string>
		<key>age</key>
		<string>2.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>94.3533</string>
		<key>S</key>
		<string>0.03989</string>
		<key>age</key>
		<string>2.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>95.0515</string>
		<key>S</key>
		<string>0.04006</string>
		<key>age</key>
		<string>3</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>95.7399</string>
		<key>S</key>
		<string>0.04024</string>
		<key>age</key>
		<string>3.083333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>96.4187</string>
		<key>S</key>
		<string>0.04041</string>
		<key>age</key>
		<string>3.166666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>97.0885</string>
		<key>S</key>
		<string>0.04057</string>
		<key>age</key>
		<string>3.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>97.7493</string>
		<key>S</key>
		<string>0.04073</string>
		<key>age</key>
		<string>3.333333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>98.4015</string>
		<key>S</key>
		<string>0.04089</string>
		<key>age</key>
		<string>3.416666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>99.0448</string>
		<key>S</key>
		<string>0.04105</string>
		<key>age</key>
		<string>3.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>99.6795</string>
		<key>S</key>
		<string>0.0412</string>
		<key>age</key>
		<string>3.583333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>100.3058</string>
		<key>S</key>
		<string>0.04135</string>
		<key>age</key>
		<string>3.666666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>100.9238</string>
		<key>S</key>
		<string>0.0415</string>
		<key>age</key>
		<string>3.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>101.5337</string>
		<key>S</key>
		<string>0.04164</string>
		<key>age</key>
		<string>3.833333333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.136</string>
		<key>S</key>
		<string>0.04179</string>
		<key>age</key>
		<string>3.916666667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.7312</string>
		<key>S</key>
		<string>0.04193</string>
		<key>age</key>
		<string>4</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>101.54</string>
		<key>S</key>
		<string>0.03967</string>
		<key>age</key>
		<string>4</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.12</string>
		<key>S</key>
		<string>0.03979</string>
		<key>age</key>
		<string>4.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>102.71</string>
		<key>S</key>
		<string>0.03992</string>
		<key>age</key>
		<string>4.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>103.31</string>
		<key>S</key>
		<string>0.04004</string>
		<key>age</key>
		<string>4.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>103.91</string>
		<key>S</key>
		<string>0.04016</string>
		<key>age</key>
		<string>4.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>104.53</string>
		<key>S</key>
		<string>0.04028</string>
		<key>age</key>
		<string>4.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>105.15</string>
		<key>S</key>
		<string>0.04041</string>
		<key>age</key>
		<string>4.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>105.77</string>
		<key>S</key>
		<string>0.04053</string>
		<key>age</key>
		<string>4.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>106.4</string>
		<key>S</key>
		<string>0.04065</string>
		<key>age</key>
		<string>4.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>107.02</string>
		<key>S</key>
		<string>0.04077</string>
		<key>age</key>
		<string>4.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>107.64</string>
		<key>S</key>
		<string>0.04088</string>
		<key>age</key>
		<string>4.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>108.26</string>
		<key>S</key>
		<string>0.04099</string>
		<key>age</key>
		<string>4.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>108.86</string>
		<key>S</key>
		<string>0.0411</string>
		<key>age</key>
		<string>5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>109.45</string>
		<key>S</key>
		<string>0.0412</string>
		<key>age</key>
		<string>5.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>110.03</string>
		<key>S</key>
		<string>0.0413</string>
		<key>age</key>
		<string>5.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>110.6</string>
		<key>S</key>
		<string>0.0414</string>
		<key>age</key>
		<string>5.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>111.16</string>
		<key>S</key>
		<string>0.04149</string>
		<key>age</key>
		<string>5.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>111.71</string>
		<key>S</key>
		<string>0.04157</string>
		<key>age</key>
		<string>5.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>112.24</string>
		<key>S</key>
		<string>0.04165</string>
		<key>age</key>
		<string>5.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>112.77</string>
		<key>S</key>
		<string>0.04173</string>
		<key>age</key>
		<string>5.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>113.29</string>
		<key>S</key>
		<string>0.0418</string>
		<key>age</key>
		<string>5.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>113.81</string>
		<key>S</key>
		<string>0.04187</string>
		<key>age</key>
		<string>5.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>114.32</string>
		<key>S</key>
		<string>0.04194</string>
		<key>age</key>
		<string>5.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>114.82</string>
		<key>S</key>
		<string>0.042</string>
		<key>age</key>
		<string>5.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>115.33</string>
		<key>S</key>
		<string>0.04206</string>
		<key>age</key>
		<string>6</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>115.83</string>
		<key>S</key>
		<string>0.04212</string>
		<key>age</key>
		<string>6.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>116.33</string>
		<key>S</key>
		<string>0.04217</string>
		<key>age</key>
		<string>6.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>116.82</string>
		<key>S</key>
		<string>0.04222</string>
		<key>age</key>
		<string>6.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>117.31</string>
		<key>S</key>
		<string>0.04227</string>
		<key>age</key>
		<string>6.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>117.81</string>
		<key>S</key>
		<string>0.04232</string>
		<key>age</key>
		<string>6.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>118.3</string>
		<key>S</key>
		<string>0.04237</string>
		<key>age</key>
		<string>6.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>118.79</string>
		<key>S</key>
		<string>0.04241</string>
		<key>age</key>
		<string>6.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>119.28</string>
		<key>S</key>
		<string>0.04246</string>
		<key>age</key>
		<string>6.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>119.77</string>
		<key>S</key>
		<string>0.0425</string>
		<key>age</key>
		<string>6.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>120.26</string>
		<key>S</key>
		<string>0.04254</string>
		<key>age</key>
		<string>6.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>120.77</string>
		<key>S</key>
		<string>0.04258</string>
		<key>age</key>
		<string>6.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>121.27</string>
		<key>S</key>
		<string>0.04261</string>
		<key>age</key>
		<string>7</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>121.77</string>
		<key>S</key>
		<string>0.04265</string>
		<key>age</key>
		<string>7.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>122.28</string>
		<key>S</key>
		<string>0.04268</string>
		<key>age</key>
		<string>7.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>122.79</string>
		<key>S</key>
		<string>0.04271</string>
		<key>age</key>
		<string>7.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>123.31</string>
		<key>S</key>
		<string>0.04273</string>
		<key>age</key>
		<string>7.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>123.82</string>
		<key>S</key>
		<string>0.04276</string>
		<key>age</key>
		<string>7.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>124.33</string>
		<key>S</key>
		<string>0.04278</string>
		<key>age</key>
		<string>7.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>124.84</string>
		<key>S</key>
		<string>0.04281</string>
		<key>age</key>
		<string>7.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>125.34</string>
		<key>S</key>
		<string>0.04284</string>
		<key>age</key>
		<string>7.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>125.85</string>
		<key>S</key>
		<string>0.04287</string>
		<key>age</key>
		<string>7.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>126.35</string>
		<key>S</key>
		<string>0.0429</string>
		<key>age</key>
		<string>7.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>126.85</string>
		<key>S</key>
		<string>0.04293</string>
		<key>age</key>
		<string>7.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>127.34</string>
		<key>S</key>
		<string>0.04298</string>
		<key>age</key>
		<string>8</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>127.82</string>
		<key>S</key>
		<string>0.04302</string>
		<key>age</key>
		<string>8.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>128.3</string>
		<key>S</key>
		<string>0.04308</string>
		<key>age</key>
		<string>8.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>128.76</string>
		<key>S</key>
		<string>0.04314</string>
		<key>age</key>
		<string>8.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>129.23</string>
		<key>S</key>
		<string>0.04321</string>
		<key>age</key>
		<string>8.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>129.69</string>
		<key>S</key>
		<string>0.04328</string>
		<key>age</key>
		<string>8.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>130.14</string>
		<key>S</key>
		<string>0.04336</string>
		<key>age</key>
		<string>8.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>130.59</string>
		<key>S</key>
		<string>0.04345</string>
		<key>age</key>
		<string>8.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.03</string>
		<key>S</key>
		<string>0.04354</string>
		<key>age</key>
		<string>8.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.48</string>
		<key>S</key>
		<string>0.04364</string>
		<key>age</key>
		<string>8.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>131.92</string>
		<key>S</key>
		<string>0.04375</string>
		<key>age</key>
		<string>8.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>132.37</string>
		<key>S</key>
		<string>0.04387</string>
		<key>age</key>
		<string>8.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>132.82</string>
		<key>S</key>
		<string>0.04399</string>
		<key>age</key>
		<string>9</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>133.27</string>
		<key>S</key>
		<string>0.04412</string>
		<key>age</key>
		<string>9.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>133.73</string>
		<key>S</key>
		<string>0.04426</string>
		<key>age</key>
		<string>9.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>134.19</string>
		<key>S</key>
		<string>0.0444</string>
		<key>age</key>
		<string>9.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>134.65</string>
		<key>S</key>
		<string>0.04455</string>
		<key>age</key>
		<string>9.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>135.12</string>
		<key>S</key>
		<string>0.04471</string>
		<key>age</key>
		<string>9.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>135.59</string>
		<key>S</key>
		<string>0.04487</string>
		<key>age</key>
		<string>9.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>136.06</string>
		<key>S</key>
		<string>0.04504</string>
		<key>age</key>
		<string>9.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>136.53</string>
		<key>S</key>
		<string>0.04521</string>
		<key>age</key>
		<string>9.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137</string>
		<key>S</key>
		<string>0.04538</string>
		<key>age</key>
		<string>9.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137.48</string>
		<key>S</key>
		<string>0.04556</string>
		<key>age</key>
		<string>9.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>137.95</string>
		<key>S</key>
		<string>0.04574</string>
		<key>age</key>
		<string>9.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>138.43</string>
		<key>S</key>
		<string>0.04593</string>
		<key>age</key>
		<string>10</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>138.9</string>
		<key>S</key>
		<string>0.04612</string>
		<key>age</key>
		<string>10.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>139.38</string>
		<key>S</key>
		<string>0.0463</string>
		<key>age</key>
		<string>10.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>139.86</string>
		<key>S</key>
		<string>0.04649</string>
		<key>age</key>
		<string>10.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>140.33</string>
		<key>S</key>
		<string>0.04667</string>
		<key>age</key>
		<string>10.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>140.81</string>
		<key>S</key>
		<string>0.04685</string>
		<key>age</key>
		<string>10.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>141.28</string>
		<key>S</key>
		<string>0.04702</string>
		<key>age</key>
		<string>10.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>141.76</string>
		<key>S</key>
		<string>0.04719</string>
		<key>age</key>
		<string>10.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>142.23</string>
		<key>S</key>
		<string>0.04734</string>
		<key>age</key>
		<string>10.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>142.71</string>
		<key>S</key>
		<string>0.04749</string>
		<key>age</key>
		<string>10.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>143.18</string>
		<key>S</key>
		<string>0.04762</string>
		<key>age</key>
		<string>10.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>143.65</string>
		<key>S</key>
		<string>0.04774</string>
		<key>age</key>
		<string>10.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>144.12</string>
		<key>S</key>
		<string>0.04785</string>
		<key>age</key>
		<string>11</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>144.59</string>
		<key>S</key>
		<string>0.04793</string>
		<key>age</key>
		<string>11.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>145.06</string>
		<key>S</key>
		<string>0.048</string>
		<key>age</key>
		<string>11.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>145.53</string>
		<key>S</key>
		<string>0.04805</string>
		<key>age</key>
		<string>11.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>146</string>
		<key>S</key>
		<string>0.04808</string>
		<key>age</key>
		<string>11.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>146.47</string>
		<key>S</key>
		<string>0.04809</string>
		<key>age</key>
		<string>11.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>146.93</string>
		<key>S</key>
		<string>0.04808</string>
		<key>age</key>
		<string>11.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>147.4</string>
		<key>S</key>
		<string>0.04805</string>
		<key>age</key>
		<string>11.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>147.87</string>
		<key>S</key>
		<string>0.04799</string>
		<key>age</key>
		<string>11.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>148.34</string>
		<key>S</key>
		<string>0.04792</string>
		<key>age</key>
		<string>11.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>148.82</string>
		<key>S</key>
		<string>0.04782</string>
		<key>age</key>
		<string>11.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>149.28</string>
		<key>S</key>
		<string>0.0477</string>
		<key>age</key>
		<string>11.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>149.76</string>
		<key>S</key>
		<string>0.04755</string>
		<key>age</key>
		<string>12</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>150.24</string>
		<key>S</key>
		<string>0.04739</string>
		<key>age</key>
		<string>12.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>150.71</string>
		<key>S</key>
		<string>0.04721</string>
		<key>age</key>
		<string>12.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>151.18</string>
		<key>S</key>
		<string>0.04701</string>
		<key>age</key>
		<string>12.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>151.66</string>
		<key>S</key>
		<string>0.0468</string>
		<key>age</key>
		<string>12.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>152.13</string>
		<key>S</key>
		<string>0.04657</string>
		<key>age</key>
		<string>12.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>152.6</string>
		<key>S</key>
		<string>0.04632</string>
		<key>age</key>
		<string>12.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>153.06</string>
		<key>S</key>
		<string>0.04606</string>
		<key>age</key>
		<string>12.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>153.52</string>
		<key>S</key>
		<string>0.04579</string>
		<key>age</key>
		<string>12.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>153.96</string>
		<key>S</key>
		<string>0.04551</string>
		<key>age</key>
		<string>12.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>154.41</string>
		<key>S</key>
		<string>0.04522</string>
		<key>age</key>
		<string>12.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>154.85</string>
		<key>S</key>
		<string>0.04492</string>
		<key>age</key>
		<string>12.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>155.28</string>
		<key>S</key>
		<string>0.04462</string>
		<key>age</key>
		<string>13</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>155.7</string>
		<key>S</key>
		<string>0.04431</string>
		<key>age</key>
		<string>13.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>156.11</string>
		<key>S</key>
		<string>0.044</string>
		<key>age</key>
		<string>13.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>156.52</string>
		<key>S</key>
		<string>0.04369</string>
		<key>age</key>
		<string>13.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>156.91</string>
		<key>S</key>
		<string>0.04338</string>
		<key>age</key>
		<string>13.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>157.28</string>
		<key>S</key>
		<string>0.04307</string>
		<key>age</key>
		<string>13.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>157.65</string>
		<key>S</key>
		<string>0.04276</string>
		<key>age</key>
		<string>13.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>158</string>
		<key>S</key>
		<string>0.04245</string>
		<key>age</key>
		<string>13.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>158.35</string>
		<key>S</key>
		<string>0.04215</string>
		<key>age</key>
		<string>13.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>158.69</string>
		<key>S</key>
		<string>0.04185</string>
		<key>age</key>
		<string>13.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.01</string>
		<key>S</key>
		<string>0.04156</string>
		<key>age</key>
		<string>13.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.31</string>
		<key>S</key>
		<string>0.04127</string>
		<key>age</key>
		<string>13.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.61</string>
		<key>S</key>
		<string>0.041</string>
		<key>age</key>
		<string>14</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>159.89</string>
		<key>S</key>
		<string>0.04073</string>
		<key>age</key>
		<string>14.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>160.16</string>
		<key>S</key>
		<string>0.04046</string>
		<key>age</key>
		<string>14.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>160.42</string>
		<key>S</key>
		<string>0.04021</string>
		<key>age</key>
		<string>14.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>160.67</string>
		<key>S</key>
		<string>0.03997</string>
		<key>age</key>
		<string>14.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>160.9</string>
		<key>S</key>
		<string>0.03974</string>
		<key>age</key>
		<string>14.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.12</string>
		<key>S</key>
		<string>0.03952</string>
		<key>age</key>
		<string>14.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.32</string>
		<key>S</key>
		<string>0.03931</string>
		<key>age</key>
		<string>14.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.52</string>
		<key>S</key>
		<string>0.0391</string>
		<key>age</key>
		<string>14.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.71</string>
		<key>S</key>
		<string>0.03892</string>
		<key>age</key>
		<string>14.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>161.88</string>
		<key>S</key>
		<string>0.03874</string>
		<key>age</key>
		<string>14.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.03</string>
		<key>S</key>
		<string>0.03858</string>
		<key>age</key>
		<string>14.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.18</string>
		<key>S</key>
		<string>0.03842</string>
		<key>age</key>
		<string>15</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.32</string>
		<key>S</key>
		<string>0.03828</string>
		<key>age</key>
		<string>15.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.44</string>
		<key>S</key>
		<string>0.03815</string>
		<key>age</key>
		<string>15.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.56</string>
		<key>S</key>
		<string>0.03803</string>
		<key>age</key>
		<string>15.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.66</string>
		<key>S</key>
		<string>0.03792</string>
		<key>age</key>
		<string>15.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.76</string>
		<key>S</key>
		<string>0.03782</string>
		<key>age</key>
		<string>15.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.85</string>
		<key>S</key>
		<string>0.03772</string>
		<key>age</key>
		<string>15.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>162.92</string>
		<key>S</key>
		<string>0.03764</string>
		<key>age</key>
		<string>15.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163</string>
		<key>S</key>
		<string>0.03756</string>
		<key>age</key>
		<string>15.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.06</string>
		<key>S</key>
		<string>0.03749</string>
		<key>age</key>
		<string>15.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.12</string>
		<key>S</key>
		<string>0.03743</string>
		<key>age</key>
		<string>15.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.18</string>
		<key>S</key>
		<string>0.03737</string>
		<key>age</key>
		<string>15.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.22</string>
		<key>S</key>
		<string>0.03732</string>
		<key>age</key>
		<string>16</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.27</string>
		<key>S</key>
		<string>0.03728</string>
		<key>age</key>
		<string>16.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.3</string>
		<key>S</key>
		<string>0.03723</string>
		<key>age</key>
		<string>16.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.34</string>
		<key>S</key>
		<string>0.0372</string>
		<key>age</key>
		<string>16.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.37</string>
		<key>S</key>
		<string>0.03716</string>
		<key>age</key>
		<string>16.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.4</string>
		<key>S</key>
		<string>0.03713</string>
		<key>age</key>
		<string>16.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.42</string>
		<key>S</key>
		<string>0.03711</string>
		<key>age</key>
		<string>16.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.45</string>
		<key>S</key>
		<string>0.03708</string>
		<key>age</key>
		<string>16.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.46</string>
		<key>S</key>
		<string>0.03707</string>
		<key>age</key>
		<string>16.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.48</string>
		<key>S</key>
		<string>0.03705</string>
		<key>age</key>
		<string>16.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.49</string>
		<key>S</key>
		<string>0.03704</string>
		<key>age</key>
		<string>16.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.5</string>
		<key>S</key>
		<string>0.03703</string>
		<key>age</key>
		<string>16.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.51</string>
		<key>S</key>
		<string>0.03702</string>
		<key>age</key>
		<string>17</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.51</string>
		<key>S</key>
		<string>0.03701</string>
		<key>age</key>
		<string>17.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.52</string>
		<key>S</key>
		<string>0.03701</string>
		<key>age</key>
		<string>17.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.52</string>
		<key>S</key>
		<string>0.03701</string>
		<key>age</key>
		<string>17.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.52</string>
		<key>S</key>
		<string>0.03701</string>
		<key>age</key>
		<string>17.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.52</string>
		<key>S</key>
		<string>0.037</string>
		<key>age</key>
		<string>17.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.53</string>
		<key>S</key>
		<string>0.037</string>
		<key>age</key>
		<string>17.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.53</string>
		<key>S</key>
		<string>0.03699</string>
		<key>age</key>
		<string>17.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.54</string>
		<key>S</key>
		<string>0.03699</string>
		<key>age</key>
		<string>17.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.55</string>
		<key>S</key>
		<string>0.03698</string>
		<key>age</key>
		<string>17.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.56</string>
		<key>S</key>
		<string>0.03697</string>
		<key>age</key>
		<string>17.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.57</string>
		<key>S</key>
		<string>0.03696</string>
		<key>age</key>
		<string>17.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.57</string>
		<key>S</key>
		<string>0.03695</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.58</string>
		<key>S</key>
		<string>0.03695</string>
		<key>age</key>
		<string>18.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.59</string>
		<key>S</key>
		<string>0.03694</string>
		<key>age</key>
		<string>18.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.6</string>
		<key>S</key>
		<string>0.03693</string>
		<key>age</key>
		<string>18.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.6</string>
		<key>S</key>
		<string>0.03693</string>
		<key>age</key>
		<string>18.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.61</string>
		<key>S</key>
		<string>0.03692</string>
		<key>age</key>
		<string>18.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.61</string>
		<key>S</key>
		<string>0.03692</string>
		<key>age</key>
		<string>18.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.62</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>18.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.62</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>18.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.62</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>18.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>18.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>18.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19.083</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19.167</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19.25</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19.333</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.03691</string>
		<key>age</key>
		<string>19.417</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.5</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.583</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.667</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.63</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.75</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.64</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.833</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.64</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>19.917</string>
	</dict>
	<dict>
		<key>L</key>
		<string>1</string>
		<key>M</key>
		<string>163.64</string>
		<key>S</key>
		<string>0.0369</string>
		<key>age</key>
		<string>20</string>
	</dict>
</array>
</plist>
